.Container {
    margin-top: 1.5rem;
    position: relative;
    width: 100%;
    height: 48px;
}
.Container:first-of-type {
    margin-top: 0;
}

.Input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    background: #232e3c;
    font-size: 16px;
    font-weight: 100;
    color: #5e6f82;
    transition: .5s;
}

.Input__label {
    transition: .5s;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.Input_active {
    transition: .5s;
    left: 0;
    top: -10px;
    font-size: 12px;
}

.textArea {
    position: relative;
    margin-top: 1.5rem;
    height: 10rem;
}
.textArea .Input__label {
    top: 30px;
}
.textArea .Input_active {
    transition: .5s;
    left: 0;
    top: -10px;
    font-size: 12px;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px;
    background: #232e3c;
    font-size: 16px;
    font-weight: 100;
    color: #5e6f82;
}